@{
    ViewData["Title"] = "Home Page";
}
<div id="container">
    <img src="img/img-1.jpg" class="view mt-5">

    <section class="information">
        <h6>photodiary</h6>
        <h1>The perfect weekend getway</h1>
        <p>En libros, revistas ¡y hasta en canciones! – se ha celebrado “la maravillosa piel de las mujeres inglesas” y
            siempre me he preguntado por qué existen esas “leyendas urbanas”. ¿Son verdades o exageraciones?
        </p>
    </section>

    <section class="information" id="phodiary">
        <h6>leave comment</h6>
        <div class="post-collection">
            <div class="post">
                <img src="img/img-2.jpg" width="473px" class="view">
                <h6 class="mt-4">Lifestyle</h6>
                <h1 class="mt-4 mb-4">Cómo realizar mercadotecnia de moda en tiempos de Covid </h1>
                <p>Cuando la pandemia de Covid-19 llegó durante la primavera, muchas compañías de moda tuvieron que
                    poner sus campañas de publicidad en pausa. Ya no era posible juntarse con los equipos creativos -
                    directores, fotógrafos, modelos, etc - en persona, en un estudio o en una locación. Entonces, las
                    compañías […]
                </p>
            </div>
            <div class="post">
                <img src="img/img-3.jpg" width="473px" class="view">
                <h6 class="mt-4">Lifestyle</h6>
                <h1 class="mt-4 mb-4">Zara rinde tributo a Tàpies con una colección cápsula </h1>
                <p>Madrid – En lo que no deja de resultar sino la brillante obertura de una nueva colección dominada por
                    prendas de marcada inspiración en el terreno de las artes, la cadena de moda Zara, buque insignia
                    del Grupo español Inditex, acaba de lanzar al mercado una colección cápsula de homenaje a la figura
                    […]
                </p>
            </div>
            <div class="post">
                <img src="img/img-4.jpg" width="473px" class="view">
                <h6 class="mt-4">photodiary</h6>
                <h1 class="mt-4 mb-4">T Visto en la pasarela: los colores Pantone de 2021 </h1>
                <p>EN IMÁGENES Recientemente, Pantone anunciaba los colores ‘Ultimate Gray’ y ‘Illuminating’ como los
                    colores del año 2021. Un color amarillo brillante, ‘Illuminating’ y un gris frío, ‘Ultimate Grey’
                    crean una “combinación de colores ambiciosa” cuando se mezclan, explica Pantone, creando
                    “sentimientos […]
                </p>
            </div>
            <div class="post">
                <img src="img/img-5.jpg" width="473px" class="view">
                <h6 class="mt-4">photodiary</h6>
                <h1 class="mt-4 mb-4">Saju presenta sus gafas hechas con tapas de plástico en Orlando </h1>
                <p>Buenos Aires – La firma de gafas y accesorios Saju, fundada hace tres años por los jóvenes
                    emprendedores colombianos Juan Pablo Pradilla Mejía; Juan Manuel Agudelo y Santiago Puentes está
                    presentando sus propuestas en la nueva edición de la Surf Expo que se celebra en Orlando, Estados
                    Unidos hasta el […]
                </p>
            </div>
        </div>
    </section>

    <section class="contact-us w-100">
        <form>
            <div class="input-tips">
                <h1>Sing up for our newsletter!</h1>
                <div class="input-group flex-nowrap">
                    <input type="text" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                    <span class="" id="addon-wrapping"><input type="submit" value=">"></span>
                </div>
            </div>
        </form>
    </section>

    <section class="information">
        <div class="post-collection">
            <div class="post">
                <img src="img/img-5.jpg" width="473px" class="view">
                <h1 class="mt-4 mb-4">Desigual lanza “Love the World”, una nueva línea sostenible de carácter permanente
                </h1>
                <p>Madrid – En línea con sus objetivos en sostenibilidad y afianzando su compromiso por avanzar hacia
                    una moda más respetuosa con el medioambiente, la firma española Desigual ha decidido empezar este
                    nuevo año presentando “Love the World”. La nueva etiqueta bajo cuyo nombre la cadena pasará a
                    diferenciar
                </p>
            </div>
            <div class="post">
                <img src="img/img-6.jpg" width="473px" class="view">
                <h1 class="mt-4 mb-4">París suspende los desfiles físicos como consecuencia de los rebrotes por Covid-19
                </h1>
                <p>Madrid – La Fédération de la Haute Couture et de la Mode (FHCM) ha confirmado que las próximas
                    ediciones de la Semana de la Moda Masculina de París, programada para el próximo 19 al 24 de enero,
                    y de la Semana de la Alta Costura, que deberá tener lugar, según lo adelantado por FashionUnited,
                    del 25
                </p>
            </div>
        </div>
    </section>
</div>

<div class="w-100 text-center">
    <input type="button" value="Load more" class="more">
</div>
